/* Misellaneous*/
html {
    background: lightgrey;
    height: 100%;
    overflow: hidden;
  }
  body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: whitesmoke;
    overflow: scroll;
    margin: 0 auto;
  }
  body::-webkit-scrollbar {width: 15px;}
  body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
a{text-decoration: none;}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
input{border: none;}

/* Header Bar */
.page-header {background-color: $page-header-background-color; height: 48px;}

/*Login or Register*/
.navbar-login {font-size:14px; color: $header-main-color; font-weight: 400; padding-left: 20px;}
.navbar {background-color: #ffffff; box-shadow: none !important;}
.login-container {
    padding-top: 24px;
    height: 64px;
    border-left: 1px solid $header-main-color;
    border-right: 1px solid $header-main-color;
    padding-left: 20px!important;
    margin-right: 16px;
    flex: 0 0 24.666667%!important;
    max-width: 18.666667%!important;
}
.btn-login {background-color: $logo-background-color!important;}
.btn-close {background-color: $logo-background-color; color: white;}
.btn-close:hover {
    background-color: white; 
    color: $logo-background-color;
    border: 1px solid $logo-background-color!important;}

.bg-nav-link {color: #495057!important; background-color: white!important; }
.bg-nav-link.active {
    color: white!important;
    background-color: $logo-background-color!important;
    border-color: #dee2e6 #dee2e6 #fff!important;}

/* SEARCH */
#main-search-container {
    margin-top: 17px;
    margin-bottom: 1px;
    margin-right: -42px;
    float: right;
    height: 44px;
    position: relative;
}
.main-header{background-color: $page-header-background-color; margin-top: -7px;}
.fa-search:before {color: $header-main-color;}
.fa-search {margin-top: -10px; margin-left: -20px;}
#search-form {padding-right: 38px; width: 51%; border-bottom: none !important; color: $header-main-color; font-weight: 500;}
.search-container {
    margin-left: -73px;
    border-left: double $header-main-color;
    flex: 0 0 24.666667%!important;
    max-width: 18.666667%!important;
}
/*Search Suggestions*/
.hidesuggestion {display: none !important;}
.showSuggestionList{
	position: absolute;
	z-index: 1000;
	border: 1px solid #ddd;
	width: 200px;
	box-shadow: 0px 0px 5px #E1E1E1;
	font-size: 13px;
	max-height: 190px;
	overflow-y: scroll;
	top: 300px;
	left: 575px;
	z-index: 100000;
	color: #000;
}
.showSuggestionListItem{
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
}
.showSuggestionListItemActive{
	background-color: #78c5ab;
	color: #fff;
}
.showHighSuggestionList {font-weight: bold;}
h1 a{	
    font-family: "Poppins",sans-serif;										
	font-size: 26px;
	color: $logo-background-color;
	float: left;
	margin: 6px 10px;	
	text-transform: uppercase;
}
h1 a:hover {color: #78c5ab;}

/* NAVBAR*/

.nav-link {color: $page-header-background-color!important;}
 #home, #about, #products, #pages, #blog, #contact {
    border-right: 1px solid #cccccc;
    height: 64px;
    padding-top: 11px;
    padding-right: 13px;
    margin-top: -12px;
    margin-bottom: -8px;
    padding-left: 13px;
}
#home {border-left: 1px solid #cccccc;}
.cart-container, .wishlist-container {
    height: 64px;
    padding-top: 16px;
    padding-right: 13px;
    margin-top: -11px;
    margin-bottom: -8px;
    padding-left: 15px;
}
.wishlist-container {
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.cart-container {
    border-right: 1px solid #cccccc;
    padding-right: 30px;
}
.wraper{									
	width: 44px;
	height: 20px;
	position: relative;
	margin: 21px 3px 0 3px;
}
#wishlist {padding-right: 50px;}
#cart {padding-right: 30px;}
.navbar-badge { 
    height: 18px !important; 
    width: 26px !important; 
    margin-left: 25px;
    padding-top: 5px!important;
    margin-top: -15px;
    background-color: #cacaca;}
.navbar-badge:hover {background-color: $logo-background-color;}
.wraper>img{
	position: absolute;
	left: 0;
	bottom: 2px;
}
/* CAROUSEL - SLIDER*/
.carousel-inner img {width: 100%;}
.carousel-caption {
    bottom: 51px!important;
}
.carousel-caption h5 {font-size: 28px;}
.carousel-caption p {font-size: 17px;}
.slider-buttons{
    border: none !important;
    background-color: #fff !important;
    color: grey !important;
    width: 14px !important;
    padding-left: 3px !important;
}
.slider-icons:before {padding-left: 8px !important;}
.slider-buttons:hover{background-color: $logo-background-color !important;}
.snippet-list li a {color:#fff;}
.carousel-snippet{
    text-align: center;
    height: 15%;
    background-color: #2A2F30;
    color:#fff;
}
.list-inline-item-1, .list-inline-item-2 {padding-right: 75px; padding-top: 30px;}
.list-inline-item-3 {padding-top: 30px;}
.snippet {margin-bottom: -15px;}

/* -- Section 1 Offers - Homepage --*/
.offers{
    position: relative;
    padding-bottom: 28px;
	background-color: #242424;
}
.inside img{
	width: 300px;
	height: 180px;
	margin-left: 10px;
}
.inside:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.inside{
	position: relative;
	width: 33%;
	float: left;
	padding: auto;
    margin-top: 25px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.inside a{
	display: block;
	height: 60px;
	width: 65%;
	background-color:rgba(57, 57, 57, 0.8);
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 60px;
	margin-left: 50px;
}
.inside a:hover{color:#fff;}

/* Section 2 New arrivals and Bestsellers - Homepage */
.left-1 {    
    margin-left: -26%;
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.show-all-mobile-btn {display:none!important;}
.show-all-btn-1{
    border: 2px solid #cccccc!important;
    background-color: transparent!important;
    color: #cccccc!important;
    margin-right: -26.5%!important;
    margin-top: 36px!important;
    padding: 11px!important;
    height: 40px;
    width: 13%;
}
.show-all-btn-1 a{color: $header-main-color;}
.left-2 {    
    margin-left: -29%;
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.show-all-btn-2{
    border: 2px solid #cccccc!important;
    background-color: transparent!important;
    color: #cccccc!important;
    margin-right: -28.5%!important;
    margin-top: 36px!important;
    padding: 11px!important;
    height: 40px;
    width: 13%;
}
.show-all-btn-2 a{color: $header-main-color;}
.custom {margin-top: 27px!important;}
.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom:12px;
  height: 45%;
}
.col-item .options {
  position:absolute;
  top:6px;
  right:22px;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .photo .options {
  display:none;
}
.col-item .photo img {
  margin: 0 auto;
}
.col-item .options-cart {
  position:absolute;
  left:22px;
  top:6px;
  display:none;
}
.col-item .info:hover .options,
.col-item .info:hover .options-cart {
  display:block;
  -webkit-animation: fadeIn .5s ease;
  -moz-animation: fadeIn .5s ease;
  -ms-animation: fadeIn .5s ease;
  -o-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
    position: absolute;
    left: -14%;
    top: -12%;
    display: none;
    width: 225%;
    margin-top: 3%;
}
.col-item .options-cart-round button {
    border-radius: 2px;
    padding: 12px 8px;
    width: 12%;
    height: 36px;
}
.col-item .options-cart-round button .fa {
    font-size: 17px;
    margin-left: -6px;
    margin-top: -2px;
}
.col-item .info:hover .options-cart-round {
  display:block;
  -webkit-animation: fadeInDown .5s ease;
  -moz-animation: fadeInDown .5s ease;
  -ms-animation: fadeInDown .5s ease;
  -o-animation: fadeInDown .5s ease;
  animation: fadeInDown .5s ease;
}
.col-item .info:hover .price-new{visibility: hidden;}
.col-item .info {
  padding: 10px;
  margin-top: 40px;
  margin-left:82px;
}
.col-item .price-details {
  width: 100%;
  margin-top: 5px;
}
.col-item .price-details h1 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float:left;
}
.col-item .price-details .details {
  margin-bottom: 0px;
  font-size:12px;
}
.col-item .price-details span {float:right;}
.col-item .price-details .price-new {
    font-size: 21px;
    font-weight: 500;
}
.col-item .price-details .price-old {
  font-size:18px;
  text-decoration:line-through;
}
.col-item .separator {border-top: 1px solid #E1E1E1;}

.col-item .clear-left {clear: left;}
.col-item .separator a {text-decoration:none;}
.col-item .separator p {
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}
.col-item .separator p i {margin-right: 5px;}
.col-item .btn-add {
  width: 60%;
  float: left;
}
.col-item .btn-add a {display:inline-block !important;}
.col-item .btn-add {border-right: 1px solid #E1E1E1;}
.col-item .btn-details {
  width: 40%;
  float: left;
  padding-left: 10px;
}
.col-item .btn-details a {display:inline-block !important;}
.col-item .btn-details a:first-child { margin-right:12px;}
.newones{background-color: #ebe7df;}
.badge{
    position: absolute;
	height: 65px;
	width: 65px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
    line-height: 65px;
}
.btn-outline-close {
    border: 2px solid $logo-background-color !important;
    background-color: white;
    color: $logo-background-color !important;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-outline-close:hover {
    background-color: $logo-background-color;
    color: white !important;
  }
  
.btn-checkout {background-color: $logo-background-color;}
#bdg {padding-top: 27px;}
.price{
    margin-bottom: 3.4%;
    margin-left: 4%;
    background-color: $logo-background-color;
	bottom: 0;
	left: 12px;
}
.sale{
	background-color: #000;
    top: 1px;
    right: 26px;
}
.out{
	background-color: #f27e4b;
    top: 1px;
    right: 26px;
    font-size: 82%!important;
    padding-top: 21px!important;
}
.out span{
	position: relative;
	top: 15px;
}

/*Footer - Section 1 (Shipping, Testimonials and Blog)*/
.footer-s1 {
    padding-top: 60px;
    margin-left: -11px;
    background-color: #ebe7df;
}
#footer-s1-border {border-top: 1px solid #ccc;}
.footer-s2 {
    padding-top: 25px;
    margin-left: -11px;
    background-color: $page-header-background-color;
}
.footer-container {
    padding-top: 25px;
    margin-left: -11px;
    width: 112%;
    color: $header-main-color;
}
.f-item-1 h2, .f-item-2 h2, .f-item-3 h2 {font-size: 22px; font-weight: 500;}
.mdb-shipping{margin-left: 1%;}
.mdb-testimonials{margin-left: 20px;}
.mdb-blog{
    margin-left: 20px;
    flex: 0 0 44.5%!important;
}
.mdb-shipping h2, .mdb-testimonials h2{font-size: 25px;}
.mdb-shipping, .mdb-testimonials, .mdb-blog {
    background-color: #dfdbd4;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
.date{
	width: 36px;
	height: 36px;
	background-color: $logo-background-color;
	float: left;
	text-align: center;
	padding-top: 3px;
	box-sizing: border-box;
	margin-right: 9px;
	color: #fff;
	font-size: 10px;
}
.date span{font-size: 13px;}
.blog p { margin: 0; font-size:15px;}
.blog h3 {
    margin: 0;
    font-size:18px;
    font-weight:400;
}
.blog{
    display:none;
	clear: both;
	margin: 15px 0;
}
/*Footer - Section 2 (Text, Twitter and  Flickr)*/
.social-footer { background-color: $page-header-background-color;}

/* Twitter */
.tweet {display:none; color: $header-main-color;}

/* Flickr */
.flickr {display: inline-flex; max-width: 82%!important;}
.flickr-1, .flickr-2 {margin-right: 8px!important;}
.fgen {margin-bottom:8px;}

/* Flickr thumbs */
.img-dim {width:120px; height: 100px;}

/* Lightbox */
$sl-font-family: Arial, Baskerville, monospace !default;
$sl-overlay-background: #fff !default;
$sl-overlay-opacity: 0.7 !default;
$sl-navigation-color: #000 !default;
$sl-caption-color: #fff !default;
$sl-caption-background: rgba(0, 0, 0, 0.8) !default;

$sl-counter-fontsize: 1rem !default;
$sl-caption-fontsize: 1rem !default;
$sl-close-fontsize: 3rem !default;

$sl-breakpoint-medium: 35.5em !default; // 568px, when 1em == 16px
$sl-breakpoint-large:	50em !default;	 // 800px, when 1em == 16px

$sl-arrow-fontsize-small:	2rem !default;
$sl-arrow-fontsize-medium: 3rem !default;
$sl-arrow-fontsize-large:	3rem !default;
$sl-img-border-small:	0 none !default;
$sl-img-border-medium: 0 none !default;
$sl-img-border-large:	0 none !default;
$sl-iframe-border-small:	0 none !default;
$sl-iframe-border-medium: 0 none !default;
$sl-iframe-border-large:	0 none !default;

$add-vendor-prefixes: true !default;

body.hidden-scroll {overflow: hidden;}
.sl-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: $sl-overlay-background;
	opacity: $sl-overlay-opacity;
	display: none;
	z-index: 1035;
}
.sl-wrapper {
	z-index: 1040;
	button {
		border: 0 none;
		background: transparent;
		font-size: 28px;
		padding: 0;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
	}

	.sl-close {
		display: none;
		position: fixed;
		right: 30px;
		top: 30px;
		z-index: 1060;
		margin-top: -14px;
		margin-right: -14px;
		height: 44px;
		width: 44px;
		line-height: 44px;
		font-family: $sl-font-family;
		color: $sl-navigation-color;
		font-size: $sl-close-fontsize;

		&:focus {
			outline: none;
		}
	}

	.sl-counter {
		display: none;
		position: fixed;
		top: 30px;
		left: 30px;
		z-index: 1060;
		color: $sl-navigation-color;
		font-size: $sl-counter-fontsize;
	}

	.sl-navigation {
		width: 100%;
		display: none;
		button {
			position: fixed;
			top: 50%;
			margin-top: -22px;
			height: 44px;
			width: 22px;
			line-height: 44px;
			text-align: center;
			display: block;
			z-index: 1060;
			font-family: $sl-font-family;
			color: $sl-navigation-color;
			&.sl-next {
				right: 5px;
				font-size: $sl-arrow-fontsize-small;
			}

			&.sl-prev {
				left: 5px;
				font-size: $sl-arrow-fontsize-small;
			}

			&:focus {
				outline: none;
			}

			@media (min-width: $sl-breakpoint-medium) {
				width: 44px;

				&.sl-next {
					right: 10px;
					font-size: $sl-arrow-fontsize-medium;
				}

				&.sl-prev {
					left: 10px;
					font-size: $sl-arrow-fontsize-medium;
				}
			}
			@media (min-width: $sl-breakpoint-large) {
				width: 44px;

				&.sl-next {
					right: 20px;
					font-size: $sl-arrow-fontsize-large;
				}

				&.sl-prev {
					left: 20px;
					font-size: $sl-arrow-fontsize-large;
				}
			}
		}
	}

	.sl-image {
		position: fixed;
		@if $add-vendor-prefixes {
			-ms-touch-action: none;
		}
		touch-action: none;
		z-index: 10000;
		img {
			margin: 0;
			padding: 0;
			display: block;
			border: $sl-img-border-small;
			@media (min-width: $sl-breakpoint-medium) {
				border: $sl-img-border-medium;
			}
			@media (min-width: $sl-breakpoint-large) {
				border: $sl-img-border-large;
			}

		}
		iframe {
			background: #000;
			border: $sl-iframe-border-small;
			@media (min-width: $sl-breakpoint-medium) {
				border: $sl-iframe-border-medium;
			}
			@media (min-width: $sl-breakpoint-large) {
				border: $sl-iframe-border-large;
			}
		}
		.sl-caption {
			display: none;
			padding: 10px;
			color: $sl-caption-color;
			background: $sl-caption-background;
			font-size: $sl-caption-fontsize;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			&.pos-top {
				bottom: auto;
				top: 0;
			}

			&.pos-outside {
				bottom: auto;
			}
		}

		.sl-download {
			display: none;
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: $sl-navigation-color;
			z-index: 1060;
		}
	}
}

.sl-spinner {
		display: none;
		border: 5px solid #333;
		border-radius: 40px;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		opacity: 0;
		position: fixed;
		top: 50%;
		width: 40px;
		z-index: 1007;
		@if $add-vendor-prefixes {
			-webkit-animation: pulsate 1s ease-out infinite;
			-moz-animation: pulsate 1s ease-out infinite;
			-ms-animation: pulsate 1s ease-out infinite;
			-o-animation: pulsate 1s ease-out infinite;
		}
		animation: pulsate 1s ease-out infinite;
}

.sl-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@-webkit-keyframes pulsate{
		0% {
			transform: scale(.1);
			opacity: 0.0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2);
			opacity: 0;
		}
}
@keyframes pulsate {
		0% {
			transform: scale(.1);
			opacity: 0.0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: scale(1.2);
			opacity: 0;
		}
}
@if $add-vendor-prefixes {
	@-moz-keyframes pulsate{
			0% {
				transform: scale(.1);
				opacity: 0.0;
			}
			50% {
				opacity: 1;
			}
			100% {
				transform: scale(1.2);
				opacity: 0;
			}
	}

	@-o-keyframes pulsate{
			0% {
				transform: scale(.1);
				opacity: 0.0;
			}
			50% {
				opacity: 1;
			}
			100% {
				transform: scale(1.2);
				opacity: 0;
			}
	}

	@-ms-keyframes pulsate{
			0% {
				transform: scale(.1);
				opacity: 0.0;
			}
			50% {
				opacity: 1;
			}
			100% {
				transform: scale(1.2);
				opacity: 0;
			}
	}
}

/* Newsletter*/
.mail{
	height: 120px;
	background-color: #242424;
}
.newsletter{
	position: relative;
	width: 260px;
	height: 36px;
	top: 36;
	left: 30;
}
.field{
	padding: 10px;
	background-color: #2e2e2e;
	margin-right: 0;
	width: 215px;
	color: #a4a4a4;
	margin-left: 10px;
}
.newsletter input{position: absolute;}
input::-webkit-input-placeholder{  
    font-style: italic;
    color: #7d7d7d;
}
.button{
	width : 35px;
	height : 35px;
	background-color : #7d7d7d;
	right: 0;
	cursor: pointer;
}
.wrap {width:100%;}
.mobile-search-container{display:none;}

/* PRODUCTS PAGE*/
#bdg-slider, #bdg-slider-prod {
    margin-left: -13%;
    bottom: 0;
    font-size: 15px;
    padding-top: 25px;
    left: unset;
}
#bdg-slider {margin-bottom: 15%;}
#bdg-slider-prod {margin-bottom: 6%;}

//Filter Bar
#f-bar-content {margin-bottom: -19px!important;}
.filter-heading {
    color: white;
    width: 20%;
    padding-top: 42px;
}
#filter-sel-1, #filter-sel-2, #filter-sel-3 {
    height: 64px;
    max-width: 28%;
    margin-top: 26px;
    margin-right: 25px;
    background-color: #222;
    color: white;
    padding-left: 38px;
    font-size: 20px;
}
#filter-sel-3 {margin-right: 0px;}
.filter-opt {background-color: #222; color: white;}

// Grid - List view
#container .list {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    }
.selected-grid.list-v {    
    flex: 0 0 70%!important;
    max-width: 70%!important;
    left: 22%;
    text-align:center;
}
.selected-grid.grid { 
    display:inline-flex;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: -18%;
    margin-left: 9%;
    right: -4%;
    text-align: center;
}
.prod-item {width: 75%;}
.prod-item .info {margin-top: 40px;}
.prod-item .options-cart-round {left: -12%;}
.prod-item .list-v .options-cart-round button {left:1%; padding: 12px 35px;}
.prod-price {margin-bottom: 4.4%;}
.prod-price.list-v{margin-bottom: 2%;}
.sale-bdg {left: 58.5%;}

//Global on Products page
#container {background-color: #ebe7df;}
.prod-page-breadcrumbs {width: 20%; margin-top: 83px; margin-left: 24%;}
.brdc-list {background-color:unset!important;}
.buttons {
    margin-left: 81%;
    width: 93%;
    padding-bottom: 21px;;
}
.btn-selected, .btn-second-sel {
    background-color: unset;
    border: 0.5px solid $page-header-background-color;
    color: #808080;
    height: 5%;
    font-size: 20px;
    margin-top: 12px;
    width: 3%;
}
.title-prod-page {
    margin-right: 63%;
    margin-bottom: -46px;
    text-align: center;
    padding-top: 24px;
}

// Global footer
.social-footer-buttons {
    background-color: unset!important;
    color: #787878!important;
    border: 1px solid #787878!important;
    padding: 7px 12px!important;
    margin-top: -2px;
}
.social-footer-buttons:hover { opacity: 0.7;}
#email{
    background-color: #222;
    border: 1px solid #787878;
    color: #787878;
}
#btn {
    width: 6%;
    height: 5.5%;
    margin-left: -4px;
    color: #222;
    background-color: #787878;
    padding-bottom: 3px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    text-align: center;
  }
  #main-icon {margin-left: 87px;}

  
                                            /***** Media Quries *****/


@media only screen and (min-width: 951px) and (max-width: 1024px){
    .mobile-search-container{display:none;}
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px;
        text-align: center;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px;
        text-align: center;
    }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
        text-align: center;
    }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
        text-align: center;
    }
    .dropdown-toggle::after {
        margin-left: 71px!important;
        margin-top: -12px!important;
    }
    .navbar-expand-md .navbar-collapse { font-size: 14px; margin-left: -7px;}
    .wishlist-container {
    border-left:none;
    width: 40%;
    padding-left: 3px;
    }
    #blog { width: 78px; padding-left: 19px;}
    #products { width: 111px; padding-left: 10px;}
    #contact { width: 79px; padding-left: 9px;}
    .cart-container {
        padding-right: 30px;
        width: 39.3%;
        padding-left: 5px;
    }
    .navbar-badge {
        height: 16px!important;
        width: 20px!important;
        padding-top: 4px!important;
    }
    .login-container{
        margin-right: 55px;
        max-width: 19.99%!important;
    }
    .navbar-login {
        padding-left: 0px;
        font-size: 11px;
        margin-top: 3px;
    }
    .search-container { margin-left: -137px;}
    .header { font-size: 12px; padding-top: 3px;}    
    #search-form { 
        padding-right: 38px;
        width: 48%;
        font-size: 12px;
        margin-left: 10%;
    }
    #bdg-slider {
        width: 11%;
        height: 27%;
        padding-top: 18px;
        margin-bottom: 15.5%;
        margin-left: -18%;
        font-size: 12px;
    }
    .carousel-caption {height: 184px;}
    .btn.btn-lg { padding: 8px 19px!important;}
    .slider-icons:before { margin-left: -16px!important;}
    .list-inline {padding-left: 19px!important; font-size: 12px;}
    .snippet { margin-bottom: -13px; font-size: 18px;}
    .list-inline-item-1, .list-inline-item-2, .list-inline-item-3 {padding-right: 0px;}
    .list-inline-item-1 { margin-right: 25px;}
    .list-inline-item-2 { margin-right: 15px;}

    .inside img {
        width: 230px;
        height: 160px;
        margin-left: -6px;
    }
    .inside a {
        height: 55px;
        width: 65%;
        font-size: 17px;
        margin-left: 32px;
    }
    .left-1 {    
        margin-left: -15%!important;
        font-size: 30px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .show-all-mobile-btn {display:none!important;}
    .show-all-btn-1{    
        margin-right: -15%!important;
        margin-top: 36px!important;
        padding: 11px!important;    
        width: 13%;
    }
    .left-2 {    
        margin-left: -20%;
        font-size: 30px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .show-all-btn-2{    
        margin-right: -19.5%!important;
        margin-top: 36px!important;
        padding: 11px!important;   
        width: 13%;
    }
    .col-item .info {
        margin-top: -28px;
        margin-left: 137px;
    }
    .col-item .options-cart-round button .fa { font-size: 13px;}
    .col-item .price-details .price-new { font-size: 20px}    
    .col-item .options-cart-round button {
        padding: 9px 6px;
        width: 8%;
        height: 27px;
        left: -165px;
        margin: 1px;
    }
    .col-item .options-cart-round {
        left: -54%;
        width: 339px;
        margin-top: 20%;  
    }
    .col-item .price-details { margin-left: 22px; margin-top: 10px;}
    .price {
        margin-bottom: 5.4%;
        width: 24%;
        height: 24%;
    }
    .out {
        font-size: 75%!important;
        padding-top: 15px!important;
        width: 24%;
        height: 20%;
    }
    .mdb-shipping, .mdb-testimonials, .f-item-1, .f-item-2 {
        flex: 0 0 48%!important;
        max-width: 48%!important;    
    }
    .mdb-blog, .f-item-3 {
        flex: 0 0 68%!important;
        max-width: 68%!important;
        margin-left: 108px;
    }
    .f-item-3 {margin-top: 65px;}
    .mdb-blog { margin-top: 3px;}
    .f-item-1, .f-item-2 {height: 38%;}
    .social-footer-buttons {
        background-color: unset!important;
        color: grey!important;
        border: 1px solid grey!important;
        padding: 7px 12px!important;
    }
    .img-dim { width: 160px; height: 127px;}
    
    //Products page

    .buttons { margin-left: 80%; width: 109%;}
    //Filter section
    .filter-container {
        margin-left: -98%;
        margin-top: 11%;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .filter-heading {
        flex: 0 0 100%!important;
        max-width: 100%!important;
        margin-top: -12px;
    }
    //All products section
    .title-prod-page { margin-right: 57%;}
    .prod-price {
        margin-bottom: 6.7%;
        width: 20%;
        height: 22%;}
    .col-item .options-cart-round.prod-options{ left: -25%;}
    .sale-bdg { left: 49.5%;}
    .out.sale-bdg {width: 20%;}
    img.img-9 {height: 210px;}
}
@media only screen and (min-width: 767px) and (max-width: 950px){
    .mobile-search-container{display:none;}
    .dropdown-toggle::after {
        margin-left: 71px!important;
        margin-top: -12px!important;
    }
    .navbar-expand-md .navbar-collapse { font-size: 14px; margin-left: -7px;}
    .wishlist-container {
        border-left:none;
        width: 40%;
        padding-left: 3px;
    }
    #blog { width: 78px; padding-left: 19px;}
    #products { width: 111px; padding-left: 10px;}
    #contact { width: 79px; padding-left: 9px;}
    .cart-container {
        padding-right: 30px;
        width: 39.3%;
        padding-left: 5px;
    }
    .navbar-badge {
        height: 16px!important;
        width: 20px!important;
        padding-top: 4px!important;
    }
    .login-container{
        margin-right: 55px;
        max-width: 19.99%!important;
    }
    .navbar-login { font-size: 12px; padding-left: 0px;}
    .search-container { margin-left: -137px;}
    .header { font-size: 12px; padding-top: 3px;}    
    #search-form { 
        padding-right: 38px;
        width: 48%;
        font-size: 12px;
        margin-left: 10%;
    }
    #bdg-slider {
        width: 11%;
        height: 27%;
        padding-top: 18px;
        margin-bottom: 19.5%;
        margin-left: -20%; 
        font-size: 12px;
    }
    .carousel-caption {height: 184px;}
    .btn.btn-lg { padding: 8px 19px!important;}
    .slider-icons:before { margin-left: -16px!important;}
    .list-inline {padding-left: 19px!important; font-size: 12px;}
    .snippet { margin-bottom: -13px; font-size: 18px;}
    .list-inline-item-1, .list-inline-item-2, .list-inline-item-3 {padding-right: 0px;}
    .list-inline-item-1 { margin-right: 25px;}
    .list-inline-item-2 { margin-right: 15px;}

    .inside img {
        width: 230px;
        height: 160px;
        margin-left: -6px;
    }
    .inside a {
        height: 55px;
        width: 65%;
       font-size: 17px;
        margin-left: 32px;
    }
    .left-1 {    
        margin-left: -15%!important;
        font-size: 30px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .show-all-mobile-btn {display:none!important;}
    .show-all-btn-1{    
        margin-right: -15%!important;
        margin-top: 36px!important;
        padding: 11px!important;    
        width: 13%;
    }
    .left-2 {    
        margin-left: -20%;
        font-size: 30px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .show-all-btn-2{    
        margin-right: -19.5%!important;
        margin-top: 36px!important;
        padding: 11px!important;   
        width: 13%;
    }
    .col-item .info {
        margin-top: -28px;
        margin-left: 137px;
    }
    .col-item .options-cart-round button .fa {font-size: 13px;}
    .col-item .price-details .price-new { font-size: 20px}    
    .col-item .options-cart-round button {
        padding: 9px 6px;
        width: 8%;
        height: 27px;
        left: -165px;
        margin: 1px;
    }
    .col-item .options-cart-round {
        left: 0%;
        width: 339px;
        margin-top: 26%;    
    }
    .price {
        margin-bottom: 5.4%;
        width: 24%;
        height: 24%;
    }
    .out {
        font-size: 75%!important;
        padding-top: 15px!important;
        width: 24%;
        height: 20%;
    }
    .mdb-shipping, .mdb-testimonials, .f-item-1, .f-item-2 {
        flex: 0 0 48%!important;
        max-width: 48%!important;    
    }
    .mdb-blog, .f-item-3 {
        flex: 0 0 68%!important;
        max-width: 68%!important;
        margin-left: 108px;
    }
    .f-item-3 {margin-top: 65px;}
    .mdb-blog { margin-top: 3px;}
    .f-item-1, .f-item-2 {height: 38%;}
    .social-footer-buttons {
        background-color: unset!important;
        color: grey!important;
        border: 1px solid grey!important;
        padding: 7px 12px!important;
    }

    //Products page
    .buttons { margin-left: 88.5%; width: 130%;}
    //Filter section
    .filter-container {
        margin-left: -98%;
        margin-top: 11%;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .filter-heading {
        flex: 0 0 100%!important;
        max-width: 100%!important;
        margin-top: -12px;
    }
    //Products section
    .fa-th-large, .fa-list-ul { margin-left: -1.5px; margin-top: 0.5px;}
    .title-prod-page { margin-right: 74%;}
    .prod-price {
        margin-bottom: 6.7%;
        width: 20%;
        height: 22%;}
     .col-item .options-cart-round.prod-options { left: -87%; top: -3%;}
    .sale-bdg { left: 49.5%;}
    .out.sale-bdg {width: 20%;}
    .selected-grid.grid {
        flex: 0 0 50.333333%!important;
        max-width: 40.333333%!important;    
        margin-right: -8%;
        margin-left: -1%;
    }
    .col-item .info.prod-info {
        margin-top: -24px;
        margin-left: 170px;}
    img.img-9 {height: 210px;}
    .prod-price.list-v { margin-bottom: 4%;}
    .prod-item .list-v .options-cart-round {margin-top:5%;}
    .prod-item .list-v .options-cart-round button { left: 6%; padding: 10px 19px;}
    .prod-item .list-v .options-cart-round button .fa {margin-right: -7px;}
}
@media only screen and (min-width: 465px) and (max-width: 691.5px) {
    .mobile-search-container{
        display: block;
        width: 90px;
        margin-left: -17%;
        margin-right: 17%;
        border-left: 1px solid #ccc;
        height: 56px;
        margin-top: -5px;    
    }
    #main-search-container { margin-top: 15px;}  
    .fa-search:before { padding-left: 10%!important;}  
    .navbar-toggler {
        color: $header-main-color!important;
        background-color: #fff!important;
    }
    .logo {
        font-size: 20px;
        padding-top: 10px;
    }
    .search-container{display: none;}
    .login-container{
        flex: 0 0 44.66667%!important;
        max-width: 40.66667%!important;
        padding-left: 0px!important;
        margin-right: 13px;
    }
    .col-8{
        flex: 0 0 54.666667%!important;
        max-width: 49.666667%!important;
    }
    .navbar-login {
        font-size: 11px;
        padding-left: 15px;
        padding-top: 5px;
    }
    #wishlist { padding-right: 31px;}
    .cart-container { padding-right: 14px;}
    .wishlist-container { padding-right: 17px;}
    .cart-container, .wishlist-container{
        height: 56px;
        padding-top: 12px;
        margin-top: -5px;
        margin-bottom: -8px;
        padding-left: 6px;
    }
    #navbar-list { margin-right: -3px!important;}
    #main-navbar {height: 52px!important;}
}
@media only screen and (min-width: 319px) and (max-width: 464px) {
    /* Logo & Login - Navbar section 1*/
    .col-8{ flex: 0 0 54.666667%!important; max-width: 49.666667%!important;}
    .logo {margin-left: -10px; font-size: 18px;}
    .search-container {display: none;}
    .navbar-login {
        font-size: 11px;
        padding-left: 0px;
        margin-left: 8%;
    }
    .login-container{
        flex: 0 0 44.66667%!important;
        max-width: 44.66667%!important;
        padding-left: 0px!important;
        margin-right: 13px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 12px;
        text-align: center;
      }
    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px;
        text-align: center;
      }
    :-ms-input-placeholder { /* IE 10+ */
        font-size: 12px;
        text-align: center;
      }
    :-moz-placeholder { /* Firefox 18- */
        font-size: 12px;
        text-align: center;
      }
    #navbar-list { margin-right: -94px!important;}    
    #search-form { padding-right: 27px; width: 51%;}
    #main-search-container { margin-top: 15px; margin-right: -48px;}
    .navbar-badge {
        height: 16px!important;
        width: 20px!important;
        margin-left: 19px;
        padding-top: 4px!important;
        margin-top: -11px;
    }    
    #wishlist { padding-right: 31px; margin-top: 4px;}
    #cart { margin-top: 4px;}
    .cart-container { padding-right: 48px; border-right: 1px solid #ccc;}
    .wishlist-container { padding-right: 17px;}
    .cart-container, .wishlist-container {
        height: 56px;
        padding-top: 12px;
        margin-top: -5px;
        margin-bottom: -8px;
        padding-left: 6px;
        font-size: 12px;
        width: 25.5%;
    }
    .fa-search:before { padding-left: 0px; font-size: 12px;}  
    #mobile-navbar {height: 52px!important;}
    .mobile-search-container {
        display: block;
        width: 60px;
        margin-left: -21%;
        margin-right: 7%;
        border-left: 1px solid #ccc;
        height: 56px;
        margin-top: -5px;    
    }  
    .navbar-toggler {color: $header-main-color!important; background-color: #fff!important;}
    //collapse navbar items
    #basicExampleNav {
        background-color: white;
        margin-top: -7px;
        margin-left: -32px;
        border-top: 1px solid #ccc;
    }
    .home-item, .products-item, .about-item, .pages-item, .blog-item, .contact-item {border:unset!important;}
    //Slider
    .carousel .carousel-indicators { display: none;}
    .carousel-caption h5 { font-size: 15px;}
    .carousel-caption p {
        font-size: 12px;
        margin-bottom: -1px;
    }
    .carousel-caption { top: -3%;}
    .carousel-inner img { height: 25%;}
    .btn.btn-lg.slider-buttons {
        padding: 7px 14px!important;
        margin-top: -11%!important;
        top: 23px!important;
    }
    .slider-icons:before { margin-left: -17px!important;}
    #bdg-slider {
        margin-bottom: 16.5%;
        width: 20%;
        height: 33%;
        font-size: 10px;
        padding-top: 10px;
        margin-left: -30%;
    }
    // Carousel snippet
    #d-flex-customized {display:none!important;}
    //Offers
    .inside img {
        width: 258px;
        height: 168px;
        margin-left: 10px;
    }
    .inside a { font-size: 22px;}
    .col-sm-4 {width: 95%!important;}
    .left-1, .left-2 {margin-left: -3%; font-size: 21px;}
    .show-all-btn-1, .show-all-btn-2 {display:none!important;}
    .col-item .price-details {
        width: 100%;
        margin-top: -56px;
        margin-left: -37px;
    }
    #index-btns { 
        padding: 8px 7px!important;
        width: 155%!important;
        height: 28px!important;
        margin-right: -4px!important;
    }
    #index-btns>button { margin-right: -3px; height: 33px;}
    #index-btns>button .fa {margin-right: 1px; font-size: 14px;}
    .price { margin-bottom: 4.4%;} 
    .show-all-mobile-btn {
        display:block!important;
        border: 2px solid #cccccc!important;
        background-color: transparent!important;
        color: #cccccc!important; 
        margin-left: 75px!important;
    }
    .show-all-mobile-btn a{color: $header-main-color;}
    .mdb-shipping, .mdb-testimonials, .mdb-blog,
    .f-item-1, .f-item-2, .f-item-3 { 
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    .mdb-shipping h2, .mdb-testimonials h2, .mdb-blog h2,
    .f-item-1 h2, .f-item-2 h2, .f-item-3 h2 {text-align: center;}
    .img-dim { width: 84px; height: 73px;}
    .f2-item-1, .f2-item-2 {
        flex: 0 0 100%!important;
        max-width: 100%!important;
        text-align: center;
    }
    #main-icon {  margin-left: 5px;}
    .login-modal {font-size: 11px;}
    //Login or Register Modal - bootstrap classes overwritten
    .pt-1 {
        margin-right: -10.75rem!important;
        margin-top: -45px!important;
        font-size: 16px!important;
    }
    .register-modal {    
        height: 6%;
        margin-right: 28%!important;
        padding-top: 8px!important;
    }
    .mdb-testimonials, .mdb-blog{margin-left: 9px;}
    //Products page
    .buttons { display:none;}
    //Filter section
    .filter-container {
        margin-left: -99%;
        margin-top: 26%;
        flex: 0 0 100%!important;
        max-width: 100%!important;
    }
    #filter-sel-1, #filter-sel-2, #filter-sel-3 {max-width: 99%;}
    .filter-heading {flex: 0 0 100%!important; max-width: 100%!important;}
    //All products section
    .title-prod-page {margin-right: 3%; margin-bottom: 6%;}
    .prod-price {
        margin-bottom: 6.7%;
        width: 20%;
        height: 22%;}
     .col-item .options-cart-round.prod-options { left: -87%; top: 5%;}
    .sale-bdg { left: 49.5%;}
    .out.sale-bdg {width: 20%;}
    .selected-grid.grid {
        flex: 0 0 100%!important;
        max-width: 100%!important;
        margin-right: -8%;
        margin-left: 7%;
    }
    .col-item .info.prod-info { margin-top: 36px; margin-left: 170px;}
    img.img-9 {height: 210px;}
    .prod-price.grid { margin-bottom: 7%;}
    .prod-options.options-cart-round button { 
        padding: 8px 7px!important;
        width: 19%!important;
        height: 28px!important;
        margin-right: -4px!important;
    }
    .prod-options.options-cart-round button .fa {margin-right: -2px;}
}