// Carousels
.carousel {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: $carousel-control-icon-width;
    height: $carousel-control-icon-height;
  }
  .carousel-control-prev-icon {
    background-image: $carousel-control-prev-icon;
  }
  .carousel-control-next-icon {
    background-image: $carousel-control-next-icon;
  }
  .carousel-indicators {
    li {
      cursor: pointer;

      /* width: $carousel-indicators-width;
      height: $carousel-indicators-height;
      border-radius: $carousel-indicators-border-radius; */

      /* next added by Ana */
      width:100%!important;
      height:13px!important;
      margin-right: none!important;
      margin-left: none!important;
      border-radius: 0px !important;
  }
  
  width:40%;
  margin-left:30%;
  margin-bottom:-1.5%;
  .active {
    background-color: #57c5a0!important;}
  }
}

#slide-c1, #slide-c2 {
  border-right: 2px solid #cccccc;
  }
  #slide-c1{
      margin-left: 0px;
      margin-right: 0px;
  }
  #slide-c2{
      margin-left: 0px;
  }
  #slide-c3{
      margin-left: -3px;
      margin-right: 0px;
  }
  #slide-c1, #slide-c2, #slide-c3 {
  background-color: #000;}
  // #slider-carousel.active {background-color: #57c5a0!important;}
  
.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: $carousel-transition-duration;
    transition-property: opacity;
  }
  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  .carousel-item-left,
  .carousel-item-right {
    &.active {
      opacity: 0;
    }
  }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .carousel-item-left.active,
  .carousel-item-prev.active {
    transform: $carousel-item-transform;
    @supports (transform-style: preserve-3d) {
      transform: $carousel-item-transform-2;
    }
  }
}
